{% extends 'base.html.twig' %}


{% block body %}

<style>
body{
  margin:0;
}
.sidebar { 
width:25vw;
min-height: 100vh;
padding-left:25px;
padding-right:25px;
background-color: #001225;
color:white; }
.content{
  width:100%;
  background-color:;
    display: flex;
  justify-content: space-around;
}
i{
  color:#00a9b0; 
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}

.flex{
    display: flex;
}

.da{
  width:100%;
  margin-left:50px;

}
.da2{
  width:100%;
  margin-left:50px;
}
.da1{
  margin-right:50px;
  margin-left:50px;
}

h1{
  color:#00a9b0;
  font-family: "brandon-grotesque", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 700;
  text-decoration:underline;
}
ul {  list-style-type: none;  margin: 0;
  padding: 0px;
}

h4 { font-weight:normal; font-size:18px;}
.info{
margin-left:10px;
margin-top:20vh;

}
</style>
<div class="flex">
<div class="sidebar">
  <div class="info">
    <h3><i class="fa-solid fa-briefcase"></i><br>{{ user.job|capitalize }}</h3>
    <h3><i class="fa-solid fa-user"></i><br>{{ user.firstname|capitalize }} {{ user.lastname|capitalize }}</h3>
    <h3><i class="fa-solid fa-envelope"></i><br>{{ user.email |capitalize}}</h3>
    <h3><i class="fa-solid fa-phone"></i><br>{{ user.number }}</h3>
    <h3><i class="fa-solid fa-house"></i><br>{{ user.adress }}</h3>
    <h3><a href="{{ user.linkedin }}"><i class="fa-brands fa-linkedin"></i><br>{{ user.firstname|capitalize }}</a></h3>
  </div>
</div>
<div class="content">
  <div class="da">
    <div>
    <h1>Langues</h1>
    <ul>
    {% for Lang in user.Langs %}
    <li><h3>{{Lang.NAME|capitalize}}</h3></li>
    {% endfor %}
    </ul>
    </div>
    <div>
    <h1>Compétences</h1>
    <ul>
    {% for Skills in user.Skills %}
    <li><h3>{{Skills.NAME|capitalize}}</h3></li>
    {% endfor %}
    </ul>
    </div>
    <div> 
    <h1>Hobbies</h1>
    <ul>
    {% for Hobbies in user.Hobbies %}
    <li><h3>{{Hobbies.NAME|capitalize}}</h3></li>
    {% endfor %}
    </ul>
    </div>
  </div>
  <div class="da2">
    <h1>Diplome</h1>
    {% for Diplomas in user.Diplomas %}
    <h2>{{Diplomas.NAME|capitalize}} <br> {{Diplomas.DATE|date('m-Y')}}</h2>
    <h3>{{Diplomas.SCHOOL|capitalize}}</h3>
    </br>
    {% endfor %}
   </div>
    <div class="da1">
    <h1>Experiences</h1>
    {% for Jobs in user.Jobs %}
    <h2>{{Jobs.NAME|capitalize}}<br>{{Jobs.DATE |date('m-Y')}}</h2>
    <h3>{{Jobs.COMPANY|capitalize}}</h3>
    <h4>{{Jobs.DESCRIPTION|capitalize}}</h4>
    </br>
    {% endfor %}
  </div>


</div>
</div>

{% endblock %}
