{% extends 'base.html.twig' %}

{% block title %}Editing {{ app.user.firstname }}'s Profile{% endblock %}

{% block body %}
<div class="">
    <h1>Adding {{ app.user.firstname }}'s Jobs</h1>
    {{form(form3) }}
</div>
<div class="">
{% for Jobs in app.user.Jobs %}
    <h2>{{Jobs.NAME}}</h2>
        <form method="post" action="{{ path('job_delete', {'id': Jobs.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Jobs.id) }}">
    <button class="btn">Delete</button>
</form>
{% endfor %}

</div>

{% endblock %}
