{% extends 'base.html.twig' %}

{% block title %}Editing {{ app.user.firstname }}'s Jobs{% endblock %}

{% block body %}
<div class="flex">
{% include '/info/index.html.twig' %}
<style>
.form{
      border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height:200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  width: 33.3%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type=submit] {
  width: 100%;
  background-color:  #00a9b0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius:4px;
  cursor: pointer;
}
.btnd{
    width: 100%;
  background-color:  red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius:4px;
  cursor: pointer;  
}
</style>
<div class="content">
<div class="jobs form">
    <h1>Adding {{ app.user.firstname }}'s Jobs</h1>
    {{form(form3) }}

{% for Jobs in app.user.Jobs %}
    <h2>{{Jobs.NAME|capitalize}} <br> {{Jobs.DATE|date('m-Y')}}</h2>
    <h3>{{Jobs.COMPANY|capitalize}}</h3> 
    <h4>{{Jobs.DESCRIPTION|capitalize}}</h4>     <form method="post" action="{{ path('job_delete', {'id': Jobs.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Jobs.id) }}">
    <button class="btnd">Delete</button>
</form>
{% endfor %}
</div>
</div>
</div>

{% endblock %}
