{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }}'s Profile{% endblock %}
{% block head %}


{% endblock %}

{% block body %}
<style>
    .sidebar { 
        height: 100%;
        width:250px;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 40px;
        background-color: #001225;
        color:white; }
.sidebar * {
font-size: 24px;
display: block;
}
a:link {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

.content {
margin-left: 250px;
font-size: 18px;
}

.d{
    color:white !important;
}


</style>
<div class="sidebar">
    <form action="{{path('CV')}}">
        <input type="submit" value="Edit Profile" />
    </form>    
    <h1>{{ app.user.job }}</h1>
    <h2 >{{ app.user.firstname }} {{ app.user.lastname }}</h2>
    <h2> {{ app.user.email }}</h2>
    <h2> {{ app.user.number }}</h2>
    <h2> {{ app.user.adress }}</h2>
    <h2><a class="d" href="https://www.linkedin.com/in/tahatj/">Linkedin @{{ app.user.firstname }}</a></h2>
    <form action="{{path('CV')}}">
        <input type="submit" value="Show CV" />
    </form>
    <form action="{{path('CV')}}">
        <input type="submit" value="Contact Page" />
    </form>

</div>
<div class="content">
    <h2><a href="{{path('Edit Skills')}}">Edit Skills</a></h2>
    {% for Skills in app.user.Skills %}
    <h4>{{Skills.NAME}}    </h4>
    {% endfor %}
    <h2><a href="{{path('Edit Hobby')}}">Edit Hobbies</a></h2>
    {% for Hobbies in app.user.Hobbies %}
    <h4>{{Hobbies.NAME}}    </h4>
    {% endfor %}
    <h2><a href="{{path('Edit User')}}">Edit Languages</a></h2>
    <h2><a href="{{path('Edit User')}}">Edit Diplomas</a></h2>
    <h2><a href="{{path('Edit Jobs')}}">Edit Jobs</a></h2>
</div>



</div>
{% endblock %}
