{% extends 'base.html.twig' %}

{% block head %}<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<style>
body{
  margin:0;
}
.sidebar { 
        min-height: 100vh;
        min;
        padding-left:25px;
        padding-right:25px;
        background-color: #001225;
        color:white; }
.content{
  width:100%;
  margin-left:10px;
  justify-content: space-around;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: whitef;
  text-decoration: none;
}

.flex{
    display: flex;
}



</style>
<div class="flex">
<div class="sidebar">
    <form action="{{ path('Edit User')}}">
        <input type="submit" value="Edit Profile" />
    </form>
    <h1>{{ app.user.job }}</h1>
    <h2 >{{ app.user.firstname }} {{ app.user.lastname }}</h2>
    <h2> {{ app.user.email }}</h2>
    <h2> {{ app.user.number }}</h2>
    <h2> {{ app.user.adress }}</h2>
    <h2><a href="{{ app.user.linkedin }}">Linkedin @{{ app.user.firstname }}</a></h2>
    <form action="{{ path('CVof', {'id': app.user.id}) }}">
        <input type="submit" value="Show CV" />
    </form>
    <form action="{{path('app_contact')}}">
        <input type="submit" value="Contact Page" />
    </form>
</div>
<div class="content">
  <div class="da">
    <h2><a href="{{path('Edit Skills')}}">Edit Skills</a></h2>
    {% for Skills in app.user.Skills %}
    <h4>{{Skills.NAME}}    </h4>
    {% endfor %}
    <h2><a href="{{path('Edit Hobby')}}">Edit Hobbies</a></h2>
    {% for Hobbies in app.user.Hobbies %}
    <h4>{{Hobbies.NAME}}    </h4>
    {% endfor %}
    <h2><a href="{{path('Edit Lang')}}">Edit Languages</a></h2>
    {% for Lang in app.user.Langs %}
    <h4>{{Lang.NAME}}    </h4>
    {% endfor %}
    <h2><a href="{{path('Edit Diplomas')}}">Edit Diplomas</a></h2>
    {% for Diplomas in app.user.Diplomas %}
    <h4>{{Diplomas.NAME}}    </h4>
    {% endfor %}
    <h2><a href="{{path('Edit Jobs')}}">Edit Jobs</a></h2>
    {% for Jobs in app.user.Jobs %}
    <h4>{{Jobs.NAME}}</h4>
    {% endfor %}
  </div>


</div>
</div>

{% endblock %}
